<.header>
  Novo usuario:
  <:subtitle>Preencha os campos para registrar um novo usuario.</:subtitle>
</.header>
<.user_form changeset={@changeset} action={~p"/users"} />
<.back navigate={~p"/users"}>Voltar aos usuarios</.back>
